.hero {
    background: url(../img/bg1.png)  center / cover no-repeat #1968B1;
padding: rem(28px) 0 rem(65px);
position: relative;
color: #fff;

@include tablets {
    background-position-y: 91px;
}

&::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(8 42 74 / 20%);
}
}
.hero__title-section {
    width: 51%;

    @include tablets{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;
}
.hero__main-title {
    font-weight: 700;
    font-size: rem(48px);
    line-height: rem(58px);
    margin-bottom: rem(17px);
    text-transform: uppercase;

    @include tablets {
        text-align: center;
        margin-bottom: rem(9px);
    }
    @include phones {
        text-align: center;
        font-size: rem(40px);
        line-height: rem(36px);
        margin-bottom: rem(12px);
    }
}
.hero__title-desc {
    font-size: rem(21px);
    line-height: rem(25px);
    margin-bottom: rem(40px);

    @include tablets{
        padding: 0 25%;
        margin-bottom: rem(44px);
    }
    @include phones {
        padding: 0 10%;
        font-size: rem(18px);
        line-height: rem(20px);
    }
}