
.menu-prod {
  position: relative;
  background: url(../img/menu1.jpeg) center no-repeat;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__main-title{
    position: absolute;
    left: rem(84px);
    top: rem(109px);
  color: inherit;
  z-index: 1;

  @include phones {
    left: rem(10px);
    top: rem(76px);
  }
  }

  &__list{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    justify-content: flex-end;
    z-index: 2;
}
  
    &__item {
      display: flex;
      z-index: 2;
  
      &--active {
        
        .menu-prod__content {
          backdrop-filter: blur(5px) brightness(0.4);
        }
        .menu-prod__decs {
          opacity: 1;
        }
      }
  
      @include phones {
      

        &--active {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 3;
        }
      }
    }
  
    &__button {
      min-width: rem(100px);
      background: center center / cover no-repeat;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
   background-color: rgba(0, 0, 0,  50%);;
      }
  
      &-text {
        position: absolute;
        transform: rotate(-90deg) translateX(-50%);
        transform-origin: 0;
        left: 50%;
        bottom: rem(150px);
        font-size: rem(48px);
        font-weight: bold;
        white-space: nowrap;
      }
    }
  
    &__content {
      width: 0;
      overflow: hidden;
      transition: width .3s linear;
      background-color: rgba(0, 0, 0,  0.7);
    }
  
    &__decs {
      line-height: 1.8;
      padding: 20px 30px;
      opacity: 0;
      transition: opacity 0.2s linear;
    }
  }
