.product-menu-section {
  position: relative;
}

.product-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-menu__title {
  position: relative;
  width: 100px;
}

.product-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}