.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
        padding: 0 rem(11px);
    }
    @include phones{
        padding: 0;
    }
}
.menu {
    @include tablets {
        display: none;
    }
}
.menu__list {
    display: flex;
    align-items: center;
}
.menu__item {
    margin-right: rem(22px);

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
}