.long__content {
    width: 40%;
   
    display: inline-block;

}
.long__content-main {
}
.long__main-title {
    font-size: rem(36px);
    line-height: rem(43px);
}
.long__wrapper {
    display: inline-block;
}
.long__icon {
    width: rem(38px);
    height: rem(38px);
}
.long__text {
    font-size: rem(18px);
    line-height: rem(22px);
}
.long__wrapper-text {

    font-size: 14.01px;
line-height: 17px;
}


.long__image {
    display: inline-block;
    width: 40%;
    height: 100%;
}