.phone-number {
    font-size: rem(22px);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.phone-number__icon {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}
.header__phone-number {
    @include tablets {
        display: none;
    }
}