.player-section__container {
    display: flex;
    justify-content: center;
  }
  
  .player {
    position: relative;
    display: block;
    width: rem(662px);
    height: 100%;
  
    @include tablets {
      height: rem(352px);
    }
  
    @include phones {
      height: rem(233px);
    }
  }
  
  .player__wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
  }
  
  .player.active .player__wrapper {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: url(./img/shorts.png) center center / cover no-repeat;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  
  .player__wrapper-pic {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: rem(110px);
    width: rem(75px);
  }
  
  .player.active .player__wrapper-pic {
    display: block;
  }
  
  .player__wrapper-icon {
    height: 100%;
    width: 100%;
    fill: #fff;
  }
  
  .player__elem {
    width: 100%;
  }
  
  .player__splash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(34px);
    background: #404040;
  
    @include phones {
      height: rem(22px);
    }
  }
  
  .player__controls {
    position: absolute;
    bottom: rem(8px);
    left: 3%;
    right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    @include phones {
      bottom: rem(4px);
    }
  }
  
  .player__start {
    padding: 0;
    cursor: pointer;
    width: rem(10px);
    height: rem(14px);
    background: transparent;
    border: 0;
    text-align: center;
  }
  
  .player__start-pic {
    height: 100%;
    width: 100%;
    fill: #626262;
  
    &:hover {
      fill: #fff;
    }
  }
  
  .player__pause-pic {
    display: none;
    height: 100%;
    width: 100%;
    stroke: #626262;
  
    &:hover {
      stroke: #fff;
    }
  }
  
  .player.paused {
    .player__start-pic {
      display: none;
    }
  
    .player__pause-pic {
      display: block;
    }
  }
  
  .player__playback {
    width: 70%;
    position: relative;
    height: 4px;
    background: #626262;
    border-radius: 5px;
    display: block;
  
    &:hover {
      &::before,
      .player__playback-button {
        background: #fff;
      }
    }
  }
  
  .player__playback-button {
    background: #626262;
    border-radius: 50%;
    border: none;
    width: 12px;
    height: 12px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  .player__volume {
    display: flex;
    justify-content: space-between;
    height: rem(14px);
    width: 10%;
    position: relative;
  
    &:hover {
      &::before,
      .player__volume-button {
        background: #fff;
      }
    }
  
    &::before {
      content: "";
      height: 4px;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background: #626262;
      border-radius: 5px;
      display: block;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  
  .player__volume-pic {
    width: rem(11px);
    height: rem(15px);
    cursor: pointer;
    border: none;
    padding: 0;
    background: transparent;
    border: 0;
  }
  
  .player__volume-icon {
    height: 100%;
    width: 100%;
    fill: #626262;
    cursor: pointer;
    z-index: 1;
  
    &:hover {
      fill: #fff;
    }
  }
  
  .player__volume-icon.mute {
    fill: #252525;
    &:hover {
      fill: #fff;
    }
  }
  
  .player__volume-button {
    background: #626262;
    border-radius: 50%;
    border: none;
    width: 12px;
    height: 12px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }