//hz


//normal
.bx-wrapper {
    box-shadow: none;
}
.slider__prod {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @include tablets {
        transform: initial;
        top: rem(222px);
    }

    @include phones {
        top: rem(178px);
    }

    &--back {
        left: rem(14px);

        @include tablets {
            left: rem(136px);
        }

        @include phones {
            left: 0;
        }
    }

    &--next {
        right: rem(-49px);

        @include tablets {
            right: rem(136px);
        }

        @include phones {
            right: 0;
        }
    }
}

.slider__icon {
    width: rem(13px);
    height: rem(27px);
}

.long__slide {
    display: flex;
    justify-content: flex-end;

    @include tablets {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    @include phones {}
}

.long__image {
    width: 44.6%;
    position: relative;
    margin-right: rem(49px);
    margin-top: rem(-10px);

    @include tablets {
        width: rem(318px);
        height: rem(417px);
        margin-right: 0;
        margin-top: 0;
    }

    @include phones {
        width: rem(252px);
        height: rem(331px);
        margin-bottom: rem(36px);
    }

    &::before {
        content: '';
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        left: -14px;
        width: 96%;
        height: 100%;
        background: url(../img/slider-bg.png) center / contain no-repeat;
    }
}

.long__image-file {
    position: relative;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
}

.long__wrapper {
    max-width: rem(368px);

    @include tablets {
        max-width: rem(528px);
    }

    @include phones {
        max-width: rem(373px);
    }
}

.long__params {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-bottom: 52px;

    @include tablets {
        display: none;
    }
}

.long__params-button {
    background: #3A587E;
    border-radius: 4px;
    padding: rem(17px) rem(5px) rem(12px);
    color: #fff;
}

.long__params-icon {
    width: rem(38px);
    height: rem(38px);
}

.long__main-title {
    font-size: rem(36px);
    line-height: rem(43px);
    font-weight: bold;
    margin-bottom: rem(24px);
    text-transform: uppercase;

    @include tablets {
        font-size: rem(30px);
        line-height: rem(36px);
        margin-bottom: rem(14px);
    }
}

.long__text {
    font-size: rem(18px);
    line-height: rem(22px);
    margin-bottom: rem(24px);
}

.long__params-text {
    font-weight: 700;
    font-size: 14.01px;
    line-height: 17px;
    text-transform: uppercase;
}

.long__order {
    display: flex;
    align-items: center;

    @include tablets {
        justify-content: center;
    }
}

.long__price {
    font-size: rem(60px);
    line-height: rem(60px);
    font-weight: 300;
    color: #151515;
    margin-right: rem(57px);

    @include tablets {
        margin-right: rem(40px);
    }
}

.prod {
    display: flex;
    align-items: center;
    margin-bottom: rem(24px);

    @include tablets {
        justify-content: center;
        text-align: left;
        padding-left: rem(30px);
    }
}

.prod__info {
    margin-right: rem(52px);
    line-height: rem(22px);

    &:last-child {
        margin-right: 0;
    }
}

.prod__value {
    font-weight: bold;
}